@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root{
    --color-fondos: #0B2447;
    --color-fuentes: #A5D7E8;
    --color-terciario: #576CBC;
    --color-fuentes-secundario: #19376D;
    --fuente-principal: "Inter", sans-serif;
}

header{
    margin-bottom: 3rem;
    width: 60%;
}

header img{
    width: 7.5rem;
    height: 3rem;
}

body{
    background-color: var(--color-fondos);
    font-family: var(--fuente-principal);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
        
}

main{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.main_form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70dvh;
    
}

span{
    color: var(--color-terciario);
}

.main_form_input{
    width: 100%;
    max-width: 36.06rem;
    border-color: transparent;
    height: 50dvh;
    outline: none;
    background-color: transparent;
    font-family: var(--fuente-principal);
    font-size: 2rem;
    color: var(--color-fuentes);
    margin-bottom: 3rem;
    overflow: auto;
    border-width: 0px;
    resize: none;


}

.main_form_img{
    width: 1rem;
    height: 1rem;
}

.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

:hover:main_form_btn{
    color: forestgreen;
}

.main_contenedor_botones{
    display: flex;
    align-items: center;
    gap: 0.7rem;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.main_form_btn{
    font-size: 1rem;
    background-color: var(--color-fuentes);
    color: var(--color-fuentes-secundario);
    padding: 0.8rem 0.9rem;
    width: 20.5rem;
    border-radius: 1.2rem;
    height: 3rem;
    
}

.main_form_btn_2{
    font-size: 1rem;
    background-color: var(--color-terciario);
    color: var(--color-fuentes);
    padding: 0.8rem 0.9rem;
    width: 20.5rem;
    border-radius: 1.2rem;
    height: 3rem;
    
}

.main_form_btn_3{
    font-size: 1rem;
    background-color: transparent;
    color: var(--color-fuentes);
    padding: 0.8rem 0.9rem;
    width: 20.5rem;
    border-radius: 1.2rem;
    height: 3rem;
    
    
}

.hidden{
    display: none;
}

aside{
    background-color: white;
    border-radius: 2rem;
    flex-direction: column;
    align-items: center;
    display: flex;
    gap: 8rem;
    height: 80dvh;
    justify-content: center;
    text-align: center;
    max-width: 25rem;
    width: 100%;
}

.muneco-alura{
    display: block;
}

@media screen and (max-width:768px) {
    main{
        flex-direction: column;
    }
    .muneco-alura{
        display: none;
    }
    aside{
        height: auto;
        max-width: 624px;
        margin-top: 2rem;
    }
    
}